body {
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 10px;
  width: 100%;
}
.content {
  display: grid;
  padding: 10px;
}
.content .item {
  padding: 20px;
  box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
  filter: drop-shadow(4px 4px 4px 4px #bbb);
  background-color: #f8f8f7;
  border: 3px dashed orange;
}
.item h3 {
  text-transform: uppercase;
  color: white;
  background: orange;
  padding: 10px;
  text-align: left;
  font-weight: bolder;
  letter-spacing: 1;
}
.item .desch {
  font-size: 15px;
  font-weight: 900;
  color: #111;
  text-transform: capitalize;
}
.item .desch.arabic {
  text-align: right !important;
  font-size: 18px;
}
.item .details {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: orange;
  padding: 10px;
}
.page_title {
  padding: 15px;
  font-weight: bolder;
  color: #fff;
  background-color: orange;
}
.item .details_hadich {
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.item .details_hadich p {
  border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}
